/*       
         @import "all.css";  just some basic formatting, no layout stuff 
*/

.news-list {
 list-style-type: none;
 margin: 10px 10px 10px 10px;
 padding: 0px;
}

#list-menu {
 list-style-type: none;
 padding: 0px;
 margin: 0px;
}

#list-item a {
 margin: 10px;
 padding: 0; 
 font-family: verdana;
 font-size: 10px;
}

#list-menu a:link, #list-menu a:active, #list-menu a:visited {
 color: black;
}

#list-menu a:hover {
 border: 1px solid #888;
 background: #BBB;
 color: black;//#ffffff;
 text-decoration: underline;
}

#list-menu a {
 display: block;
 width:80px;
 padding: 2px 2px 2px 10px;
 border: 1px solid #f1f1f1;
 background: #f1f1f1;
 text-decoration: none;
} 

.username {
 font: verdana;
 color: yellow;
 background: gray;
}

img {
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
 /*        clip: rect(10px, 5px, 10px, 5px);*/
 overflow: hidden;
 border: 0px solid;
 align: left;
 /* height: 70px;*/
}

body {
 margin: 10px 10px 0px 10px;
 padding: 0px;
 font-family: verdana;
 font-size: 12px;
}

#leftcontent {
 position: absolute;
 left:10px;
 top:76px;
 width:150px;
 background:#f1f1f1;
 border:1px solid #000;
 margin: 0px 0px 0px 0px;
 padding: 0px;
}

#centercontent {
 background:#fff;
 margin-left: 150px;
 margin-right:199px;
 border:1px solid #000;
 padding: 0px 10px 0px 10px;
 /*
   IE5x PC mis-implements the box model. Because of that we sometimes have
   to perform a little CSS trickery to get pixel-perfect display across browsers.
   The following bit of code was proposed by Tantek Celik, and it preys upon a CSS
   parsing bug in IE5x PC that will prematurly close a style rule when it runs
   into the string "\"}\"". After that string appears in a rule, then, we can override
   previously set attribute values and only browsers without the parse bug will
   recognize the new values. So any of the name-value pairs above this comment
   that we need to override for browsers with correct box-model implementations
   will be listed below.
   
   We use the voice-family property because it is likely to be used very infrequently,
   and where it is used it will be set on the body tag. So the second voice-family value 
   of "inherit" will override our bogus "\"}\"" value and allow the proper value to
   cascade down from the body tag.
   
   The style rule immediately following this rule offers another chance for CSS2
   aware browsers to pick up the values meant for correct box-model implementations.
   It uses a CSS2 selector that will be ignored by IE5x PC.
   
   Read more at http://www.glish.com/css/hacks.asp
 */
 
 voice-family: "\"}\"";
 voice-family: inherit;
 margin-left: 151px;
 margin-right:200px;
}

html>body #centercontent {
  margin-left: 201px;
  margin-right:201px;
}

#rightcontent {
 position: absolute;
 right:10px;
 top:76px;
 width:199px;
 background:#fff;
 border:1px solid #000;
}

#banner {
  border-top:1px solid #000;
  border-right:1px solid #000;
  border-left:1px solid #000;
  voice-family: "\"}\"";
  voice-family: inherit;
 height:90px;
}

html>body #banner {
 height:90px;
}

#banner-top {
 background: #5f9dde;
 height: 15px;
}

#banner-middle {
 background: #0a6cce;
 height: 34px;
 padding:0px;
 margin: 0px 0px 0px 0px;
}

#banner-bottom {
 background: #003399;
 height: 15px;
}

#menu-header h1 {
 background: red;
 color: red;
 border: 1px solid#000;
}

p,h1 {
 margin: 0px 10px 10px 10px;
}

.menu-item {
  font-size: 12px;
 position: relative; 
 margin: 0px 10px 10px 10px;
 color: black; 
  font-family: verdana;
}

h1 {
  font-family: verdana;
  font-size: 18px;
  padding-top:10px;
}

/*        
          #banner h1 {
          font-size:14px;
          padding:10px 10px 0px 10px;
          margin:0px 0px 0px 0px;
          }*/
        
#rightcontent p {
  font-size:small;
}
