
#thumbnail {
        align: right;
        width: 100px;
        height: 100px;
}

body { 
        background-color: #76827B;
        color: black;

        font-family: Verdana;
        font-size: 12px;
        margin: 0px;
        padding-bottom: 20px;
        scrollbar-face-color: antiquewhite;
        scrollbar-highlight-color:blue;
        scrollbar-3dlight-color:orange;
        scrollbar-darkshadow-color:brown;
        scrollbar-shadow-color:pink;
        scrollbar-arrow-color:blue;
        scrollbar-track-color:ivory;

/*        background-image: url('/images/background.gif');
        background-repeat: no-repeat;
        background-attachment: fixed
*/
}

.header { 
        background: #546563;

        height:70px;
        border:0px;
# solid brown;
}

#mainbody { 
        background: #d4e2de;

        margin-left:120px;
        padding-top:5px;
        padding-right:20px;
        padding-bottom:5px;
        padding-left:20px;
        border:0px solid brown;
}

#menu { 
        background: green;
        color: brown;

        position:absolute;
        top:70px;
        left:0px;
        width:120px;
        text-align: centre;
}

.menuitem { 
        background: #374341;
        color: #76827B;


        width:120px;
        font-size:10px;
        text-align: left;
}

.menuhead { 
        background: #374341;
        color:brown;

        left: 0px;
        width:95px;
        text-align: center;
        font-weight:bold;
        font-size:10px;
}

.footer { 
        background:ivory;
        color:brown;

        width:100%;
        text-align:center;
        margin-top:5px;
        padding:1px;
        border:0px;
# solid red;
}

a:hover { 
        background-color:  white;
        color:white

        #font-size:14px;
}

h1 { 
        color: white;
}

h2 { font-size:24px}

h3 { font-size:20px}

p,h1,h2,h3 { margin: 10px 10px 10px 10px}

.heading { 
        background-color:green;
        color:green;

        font-family:Lucida Calligraphy;
        font-size:36px;
        font-weight:bold;
        text-align:center
}

td {
        border: 1px;
}